<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- for-mobile-apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="black list'blacklists'blacklist' hongkong'hong kong"/>
    <meta NAME="Author" CONTENT="KeFu">
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //for-mobile-apps-->
    <!-- Custom Theme files-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/> -->
    
    <!-- //Custom Theme files-->
    <!-- font-awesome icons-->
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <!-- //font-awesome icons-->
    <!-- js-->
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/jquery.countdown.css"/>
    <!-- countdown-->
    <!-- //js-->
    <!-- web fonts-->
    <link href="//fonts.googleapis.com/css?family=Glegoo:400,700" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css"/>
    <!-- //web fonts-->
    <!-- start-smooth-scrolling-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
      });
    </script>
    <!-- //end-smooth-scrolling-->
  </head>
  <body>
    <!-- for bootstrap working-->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working-->
    <!-- header-->
    <div id="home1" class="header">
      <div class="container">
        <div class="w3l_logo">
          <h1><a href="\">Black List<span>Fair Impartial Transparent</span></a></h1>
        </div>
        <div class="search">
          <input id="search_box" type="checkbox" class="search_box"/>
          <label for="search_box" class="icon-search"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></label>
          <div class="search_form">
            <form action="#" method="post">
              <input type="text" name="Search" placeholder="Search..."/>
              <input type="submit" value="Send"/>
            </form>
          </div>
        </div>
        <!--
        <div class="cart cart box_1">
          <form action="#" method="post" class="last">
            <input type="hidden" name="cmd" value="_cart"/>
            <input type="hidden" name="display" value="1"/>
            <button type="submit" name="submit" value="" class="w3view-cart"><i aria-hidden="true" class="fa fa-cart-arrow-down"></i></button>
          </form>
        </div>
        -->
      </div>
    </div>
    <!-- //header-->
    <!-- navigation-->
    <div class="navigation">
      <div class="container">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display-->
          <div class="navbar-header nav_2">
            <button type="button" data-toggle="collapse" data-target="#bs-megadropdown-tabs" class="navbar-toggle collapsed navbar-toggle1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div id="bs-megadropdown-tabs" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/" class="act">Home</a></li>
              <!-- Mega Menu-->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Category<b class="caret"></b></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6><%= Categoryist_top[0] %></h6>
                        <% for (var i = 0; i < Categoryist_col1.length; i++) { %>
                        <li><a href="products1.html"><%= Categoryist_col1[i] %></a></li>
                        <% } %>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6><%= Categoryist_top[1] %></h6>
                        <% for (var i = 0; i < Categoryist_col2.length; i++) { %>
                        <li><a href="products1.html"><%= Categoryist_col2[i] %></a></li>
                        <% } %>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="multi-column-dropdown">
                        <h6><%= Categoryist_top[2] %></h6>
                        <% for (var i = 0; i < Categoryist_col3.length; i++) { %>
                        <li><a href="products1.html"><%= Categoryist_col3[i] %></a></li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="w3pages">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"> Action <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="icons.html">Propose</a></li>
                    <li><a href="codes.html">Rehabilitate</a></li>
                  </ul>
              </li>
              <li><a href="about.html">About Us</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- //navigation-->
    <!-- display by category-->
    <div class="banner-bottom">
      <div class="container">
        <div class="col-md-12 wthree_banner_bottom">
          <div role="tabpanel" data-example-id="togglable-tabs" class="bs-example bs-example-tabs">
            <ul id="myTab" role="tablist" class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a id="<%= tabtopic[0] %>-tab" href="#<%= tabtopic[0] %>" role="tab" data-toggle="tab" aria-controls="<%= tabtopic[0] %>"><%= tabtopic[0] %></a></li>
              <li role="presentation"><a id="<%= tabtopic[1] %>-tab" href="#<%= tabtopic[1] %>" role="tab" data-toggle="tab" aria-controls="<%= tabtopic[1] %>"><%= tabtopic[1] %></a></li>
              <li role="presentation"><a id="<%= tabtopic[2] %>-tab" href="#<%= tabtopic[2] %>" role="tab" data-toggle="tab" aria-controls="<%= tabtopic[2] %>"><%= tabtopic[2] %></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div id="<%= tabtopic[0] %>" role="tabpanel" aria-labelledby="<%= tabtopic[0] %>-tab" class="tab-pane fade active in">
                <div class="agile_ecommerce_tabs">
                  <% for (var i = 0; i < 3; i++) { %>
                  <div class="col-md-4 agile_ecommerce_tab_left">
                    <div class="hs-wrapper">
                      <a href="#" data-toggle="modal" data-target="#myModal">
                          <img src="images/<%= i+3 %>.jpg" onerror="this.onerror=null;this.src='images/Default.jpg';" alt=" " class="img-responsive"/>
                      </a>
                    </div>
                    <h5><a href="single.html"><%= tab_data0.name[i] %></a></h5>
                    <div class="Comment_shelfItem">
                      <p></p>
                      <button onclick="addcomment_btn('<%= tab_data0.name[i] %>','<%= tabtopic[0] %>','images/<%= i+3 %>.jpg')" type="submit" class="w3ls-cart" data-toggle="modal" data-target="#addcomment">
                      Add comment
                      </button>
                    </div>
                  </div>
                  <% } %>
                  <div class="clearfix"> </div>
                </div>
              </div>
              <div id="<%= tabtopic[1] %>" role="tabpanel" aria-labelledby="<%= tabtopic[1] %>-tab" class="tab-pane fade">
                <div class="agile_ecommerce_tabs">
                  <% for (var i = 0; i < 3; i++) { %>
                  <div class="col-md-4 agile_ecommerce_tab_left">
                    <div class="hs-wrapper">
                      <a href="#" data-toggle="modal" data-target="#myModal">
                          <img src="images/<%= i+6 %>.jpg" onerror="this.onerror=null;this.src='images/Default.jpg';" alt=" " class="img-responsive"/>
                      </a>
                    </div>
                    <h5><a href="single.html"><%= tab_data1.name[i] %></a></h5>
                    <div class="Comment_shelfItem">
                      <p></p>
                      <button onclick="addcomment_btn('<%= tab_data1.name[i] %>','<%= tabtopic[0] %>','images/<%= i+6 %>.jpg')" type="submit" class="w3ls-cart" data-toggle="modal" data-target="#addcomment">
                      Add comment
                      </button>
                    </div>
                  </div>
                  <% } %>
                  <div class="clearfix"> </div>
                </div>
              </div>   
              <div id="<%= tabtopic[2] %>" role="tabpanel" aria-labelledby="<%= tabtopic[2] %>-tab" class="tab-pane fade">
                <div class="agile_ecommerce_tabs">
                  <% for (var i = 0; i < 3; i++) { %>
                  <div class="col-md-4 agile_ecommerce_tab_left">
                    <div class="hs-wrapper">
                      <a href="#" data-toggle="modal" data-target="#myModal">
                          <img src="images/<%= i+9 %>.jpg" onerror="this.onerror=null;this.src='images/Default.jpg';" alt=" " class="img-responsive"/>
                      </a>
                    </div>
                    <h5><a href="single.html"><%= tab_data2.name[i] %></a></h5>
                    <div class="Comment_shelfItem">
                      <p></p>
                      <button onclick="addcomment_btn('<%= tab_data2.name[i] %>','<%= tabtopic[2] %>','images/<%= i+9 %>.jpg')" type="submit" class="w3ls-cart" data-toggle="modal" data-target="#addcomment">
                      Add comment
                      </button>
                    </div>
                  </div>
                  <% } %>
                  <div class="clearfix"> </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- // display by category-->
    <!-- top-black-->
    <div class="top-black">
      <div class="container">
        <h3>Top Black</h3>
        <div class="agileinfo_top_black_grids">
            <!-- Loop 4 top rate item-->
          <% for (var i = 0; i < 4; i++) { %>
          <div class="col-md-3 agileinfo_top_black_grid">
            <div class="agile_ecommerce_tab_left agileinfo_top_black_grid1">
              <div class="hs-wrapper hs-wrapper1">
                <a href="#" data-toggle="modal" data-target="#myModal">
                    <img src="images/<%= i+9 %>.jpg" onerror="this.onerror=null;this.src='images/Default.jpg';" alt=" " class="img-responsive"/>
                </a>
              </div>
              <p><%= top_data.category[i] %></p>
              <h5><a href="#"><%= top_data.name[i] %></a></h5>
              <div class="Comment_shelfItem">
                <p></p>
                  <button onclick="addcomment_btn('<%= top_data.name[i] %>','<%= top_data.category[i] %>','images/<%= i+9 %>.jpg')" type="submit" class="w3ls-cart" data-toggle="modal" data-target="#addcomment">
                  Add comment
                  </button>
              </div>
            </div>
          </div>
          <% } %>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- //top-black-->
    <!-- new-black-->
    <div class="new-black">
      <div class="container">
        <h3>New Black</h3>
        <div class="sliderfig">
          <ul id="flexiselDemo1">
            <% for (var i = 0; i < 5; i++) { %>
            <a href="#" data-toggle="modal" data-target="#myModal">
              <li><img src="images/tb<%= i+1 %>.jpg" alt=" " class="img-responsive"/><h5><%= newest_data.name[i] %></h5></li>
            </a>
            <% } %>
          </ul>
        </div>
        <script type="text/javascript">
          $(window).load(function() {
          $("#flexiselDemo1").flexisel({
          visibleItems: 4,
          animationSpeed: 1000,
          autoPlay: true,
          autoPlaySpeed: 3000,
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
          responsiveBreakpoints: {
          portrait: {
          changePoint:480,
          visibleItems: 1
          },
          landscape: {
          changePoint:640,
          visibleItems:2
          },
          tablet: {
          changePoint:768,
          visibleItems: 3
          }
          }
          });
          });
        </script>
        <script type="text/javascript" src="js/jquery.flexisel.js"></script>
      </div>
    </div>
    <!-- //new-black-->
    <!-- Add comment popup-->
    <div id="addcomment" tabindex="-1" role="dialog" aria-labelledby="addcomment" class="modal video-modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <section>
            <div class="modal-body">
              <div class="col-md-5 modal_body_left"><img id="addcom_img" src="images/3.jpg" alt=" " class="img-responsive"/></div>
              <div class="col-md-7 modal_body_right">
                <h4>Add Comment</h4>
                <div class="Comment_shelfItem">
                  <form action="blackcomment" method="post">
                    black name:<br>
                    <input id="addcom_name" type="text" name="blackname" value="blackname"/><br><br>
                    black category:<br>
                    <input id="addcom_cat" type="text" name="blackcategory" value=""/><br><br>
                    black comment:<br>
                    <input id="addcom_com"type="text" name="blackcomment" value=""/><br><br>
                    <button type="submit" class="w3ls-cart">Submit</button>
                  </form>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- // Add comment popup-->
    <!-- model detail popup-->
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" class="modal video-modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <section>
            <div class="modal-body">
              <div class="col-md-5 modal_body_left"><img src="images/3.jpg" alt=" " class="img-responsive"/></div>
              <div class="col-md-7 modal_body_right">
                <h4>The Best Mobile Phone 3GB</h4>
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <div class="rating">
                  <div class="rating-left"><img src="images/star-.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star-.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star-.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star.png" alt=" " class="img-responsive"/></div>
                  <div class="clearfix"> </div>
                </div>
                <div class="modal_body_right_cart Comment_shelfItem">
                  <p><span>$380</span><i class="item_price">$350</i></p>
                  <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="add" value="1"/>
                    <input type="hidden" name="w3ls_item" value="Mobile Phone1"/>
                    <input type="hidden" name="amount" value="350.00"/>
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                  </form>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1" class="modal video-modal fade">
      <div role="document" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <section>
            <div class="modal-body">
              <div class="col-md-5 modal_body_left"><img src="images/9.jpg" alt=" " class="img-responsive"/></div>
              <div class="col-md-7 modal_body_right">
                <h4>Multimedia Home Accessories</h4>
                <p>
                  Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore
                  eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>
                <div class="rating">
                  <div class="rating-left"><img src="images/star-.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star-.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star-.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star.png" alt=" " class="img-responsive"/></div>
                  <div class="rating-left"><img src="images/star.png" alt=" " class="img-responsive"/></div>
                  <div class="clearfix"> </div>
                </div>
                <div class="modal_body_right_cart Comment_shelfItem">
                  <p><span>$180</span><i class="item_price">$150</i></p>
                  <form action="#" method="post">
                    <input type="hidden" name="cmd" value="_cart"/>
                    <input type="hidden" name="add" value="1"/>
                    <input type="hidden" name="w3ls_item" value="Headphones"/>
                    <input type="hidden" name="amount" value="150.00"/>
                    <button type="submit" class="w3ls-cart">Add to cart</button>
                  </form>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- //model detail popup-->
    <!-- newsletter-->
    <div class="newsletter">
      <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
          <h3>Newsletter</h3>
          <p>subscription</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
          <form action="#" method="post">
            <input type="email" name="Email" placeholder="Email" required=""/>
            <input type="submit" value=""/>
          </form>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //newsletter-->
    <!-- footer-->
    <div class="footer">
      <div class="container">
        <div class="w3_footer_grids">
          <div class="col-md-3 w3_footer_grid">
            <h3>Contact</h3>
            <p>Contact us at:</p>
            <ul class="address">
              <li><i aria-hidden="true" class="glyphicon glyphicon-map-marker"></i>Hong Kong</li>
              <li><i aria-hidden="true" class="glyphicon glyphicon-envelope"></i><a href="mailto:info@example.com">info@example.com</a></li>
              <!-- <li><i aria-hidden="true" class="glyphicon glyphicon-earphone"></i>+1234 567 567</li> -->
            </ul>
          </div>
          <div class="col-md-3 w3_footer_grid">
            <h3>Information</h3>
            <ul class="info">
              <li><a href="about.html">About Us</a></li>
              <li><a href="mail.html">Contact Us</a></li>
              <li><a href="faq.html">FAQ's</a></li>
              <li><a href="products.html">Special</a></li>
            </ul>
          </div>
          <div class="col-md-3 w3_footer_grid">
            <h3>Category</h3>
            <ul class="info">
              <li><a href="products.html">Product</a></li>
              <li><a href="products1.html">Company</a></li>
              <li><a href="products.html">Personal</a></li>
            </ul>
          </div>
          <div class="col-md-3 w3_footer_grid">
            <h3>Follow Us</h3>
            <div class="agileits_social_button">
              <ul>
                <li><a href="#" class="facebook"> </a></li>
                <li><a href="#" class="twitter"> </a></li>
                <li><a href="#" class="google"> </a></li>
                <li><a href="#" class="pinterest"> </a></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="footer-copy">
        <div class="footer-copy1">
          <div class="footer-copy-pos"><a href="#home1" class="scroll"><img src="images/arrow.png" alt=" " class="img-responsive"/></a></div>
        </div>
        <div class="container">
          <p>© 2017 Blacklists Hong Kong. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function addcomment_btn(name,category,img) {
        document.getElementById("addcom_name").value = name;
        document.getElementById("addcom_cat").value = category;
        document.getElementById("addcom_img").src = img;
        document.getElementById("addcom_img").onerror = function() {
          document.getElementById("addcom_img").src = "images/Default.jpg";
        }
      }
    </script>
    <!-- //footer-->
    <!-- cart-js
    <script src="js/minicart.js"></script>
    <script>
      w3ls.render();
      w3ls.cart.on('w3sb_checkout', function (evt) {
      var items, len, i;
      if (this.subtotal() > 0) {
      items = this.items();
      for (i = 0, len = items.length; i < len; i++) {
      }
      }
      });
    </script> 
    //cart-js-->
  </body>
</html>